* {
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    overflow-x: hidden;
}

@font-face{
    font-family: Gotham-Ultra;
    src: url(../fonts/gotham-ultra.otf);
}
@font-face{
    font-family: Gotham-Bold;
    src: url(../fonts/gotham-bold-italic.ttf);
}
@font-face{
    font-family: Gotham-Medium;
    src: url(../fonts/Gotham\ Medium\ Regular.ttf);
}

body {
    /* font-family: Gotham-Medium; */
    font-family: 'Roboto', sans-serif;
    width: 100%;
}